svg{
  margin: 30px;
  width: 650px;
  height: 650px;
}

.line{
  fill: none;
  stroke-width: 2px;
}

circle{
  stroke: steelblue;
  fill: white;
}

.points{
  stroke: darkred;
}

.sine{
  stroke: darkblue;
}
